<div class="squares squares-1"></div>
<div class="squares squares-2"></div>
<div class="squares squares-3"></div>
<div class="squares squares-4"></div>
<div class="squares squares-5"></div>
<div class="squares squares-6"></div>
<div class="squares squares-7"></div>

<div class="landing" [style.background-image]="'url(/assets/images/' + 'nf2.png' + ')'">
    <div class="row-spacer"></div>
    <h1> Generate tokens in the style of popular collections</h1>
    <button class="primary-button" routerLink="generate"> generate a fake </button>
    <button class="link-button" routerLink="blog"> learn more </button>
</div>
